

<div class="container">

    <br>
    <form [formGroup]="employeeForm">
        <div class="card employeeInf">
            <div class="card-header">Employee Information</div>
            <div class="card-body">
            <div class="form-group">
            <div class="row">
                <div class="col-md-6 label">
                    <label><img [src]="employeeInfo.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Employee Identification</label>
                    </div>
                    <div class="col-md-2 offset-md-4">
                        <input style="display: none" type="file" class="form-control" formControlName="employeeInfo" accept="application/msword,application/pdf" #employeeInfo>
                        <img [src]="employeeInfo.value==''? uploadImg:downloadImg" class="image" (click)="employeeInfo.click()" width="30px" height="30px">
                        </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 label">
                        <label><img [src]="socialSecurity.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Employee Social Security Information</label>
                        </div>
                        <div class="col-md-2 offset-md-4">
                            <input style="display: none" type="file" class="form-control" formControlName="socialSecurity" accept="application/msword,application/pdf" #socialSecurity>
                            <img [src]="socialSecurity.value==''? uploadImg:downloadImg" class="image" (click)="socialSecurity.click()" width="30px" height="30px">
                            </div>
                    </div>
                </div>
        </div>
    </div>
</form>



<form [formGroup]="taxForm">
    <div class="card">
        <div class="card-header">Tax Documents</div>
        <div class="card-body">
        <div class="form-group">
        <div class="row">
            <div class="col-md-6 label">
                <label><img [src]="employeeCF.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Employee Corporation Filing</label>
                </div>
                <div class="col-md-2 offset-md-4">
                    <input style="display: none" type="file" class="form-control" formControlName="employeeCF" accept="application/msword,application/pdf" #employeeCF>
                    <img [src]="employeeCF.value==''? uploadImg:downloadImg" class="image"  (click)="employeeCF.click()" width="30px" height="30px">
                    </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6 label">
                    <label><img [src]="employeeTF.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Employee Tax Filing</label>
                    </div>
                    <div class="col-md-2 offset-md-4">
                        <input style="display: none" type="file" class="form-control" formControlName="employeeTF"accept="application/msword,application/pdf"  #employeeTF>
                        <img [src]="employeeTF.value==''? uploadImg:downloadImg" class="image" (click)="employeeTF.click()" width="30px" height="30px">
                        </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 label">
                        <label><img [src]="employerBC.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Employer banker contract</label>
                        </div>
                        <div class="col-md-2 offset-md-4">
                            <input style="display: none" type="file" class="form-control" formControlName="employerBC" accept="application/msword,application/pdf"  #employerBC>
                            <img [src]="employerBC.value==''? uploadImg:downloadImg" class="image" (click)="employerBC.click()" width="30px" height="30px">
                            </div>
                    </div>
                </div>
    </div>
</div>
</form>



<form [formGroup]="insuranceForm">
    <div class="card">
        <div class="card-header">Insurance Documents</div>
        <div class="card-body">
        <div class="form-group">
        <div class="row">
            <div class="col-md-6 label">
                <label><img [src]="healthIC.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Health insurance contract</label>
                </div>
                <div class="col-md-2 offset-md-4">
                    <input style="display: none" type="file" class="form-control" formControlName="healthIC" accept="application/msword,application/pdf" #healthIC>
                    <img [src]="healthIC.value==''? uploadImg:downloadImg" class="image"  (click)="healthIC.click()" width="30px" height="30px">
                    </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6 label">
                    <label><img [src]="disabilityIC.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Disability insurance contract</label>
                    </div>
                    <div class="col-md-2 offset-md-4">
                        <input style="display: none" type="file" class="form-control" formControlName="disabilityIC" accept="application/msword,application/pdf" #disabilityIC>
                        <img [src]="disabilityIC.value==''? uploadImg:downloadImg" class="image" (click)="disabilityIC.click()" width="30px" height="30px">
                        </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 label">
                        <label><img [src]="dentalAndVision.value==''? errorImage:tickImage"  (click)="employeeInfo.click()" width="30px" height="30px"> Vision terms</label>
                        </div>
                        <div class="col-md-2 offset-md-4">
                            <input style="display: none" type="file" class="form-control" formControlName="dentalAndVision" accept="application/msword,application/pdf" #dentalAndVision>
                            <img [src]="dentalAndVision.value==''? uploadImg:downloadImg" class="image" (click)="dentalAndVision.click()" width="30px" height="30px">
                            </div>
                    </div>
                </div>
    </div>
</div>
</form>

</div>
